<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="assets/fontawesome/fontawesome-5.15/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header>
        <div class="row bg-black">
            <div class="col-9 text-left">
                <ul class="navbar m-0">
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-3 text-right text-white pr-3">
                <i class="fas fa-sign-in-alt"></i> Login
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="sidebar col-3 bg-grey">
                    <ul>
                        <li>Link 1</li>
                        <li>Link 2</li>
                        <li>Link 3</li>
                    </ul>
                </div>
                <div class="content col-6">
                    <h1>Welcome</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, numquam, explicabo temporibus
                        commodi error minima illum repudiandae omnis nisi maxime tenetur tempore, natus deserunt id iste
                        cum consequatur? Ipsum, dolores.</p>
                    <hr>
                    <h2>Test</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur beatae, aut nostrum quam
                        odit dolores facere et aliquam eum repellat porro recusandae modi quidem minus deleniti
                        blanditiis, nemo laudantium accusantium.</p>
                </div>
                <div class="ads-sidebar col-3 bg-grey">
                    <div class="ads-btn">
                        <button class="btn">ADS</button>
                    </div>
                    <div class="ads-btn">
                        <button class="btn">ADS</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-black text-white text-center py-1">
        Footer Text
    </footer>
</body>

</html>