* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 1rem;
    /* border: 1px solid red; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.container {
    width: 80%;
    margin: auto;
}
.bg-dark {
    background-color: black;
    padding: 10px;
}
.p-2 {
    padding: 20px;
}
.bg-blue {
    background-color: blue;
}
.bg-orange {
    background-color: orange;
}
.bg-white {
    background-color: white;
}
.bg-green {
    background-color: green;
}
.bg-yellow {
    background-color: yellow;
}
.bg-grey {
    background-color: grey;
}
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .col-md-4 {
        width: 33.33%;
    }
}
@media screen and (min-width: 1200px) {
    .col-lg-3 {
        width: 25%;
    }
}
